<head>
	{% load staticfiles %}
	{% load menu_tags %}
	<link rel="stylesheet" href="{% static "css/main.css" %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.nav-parent').hover(function() {
	$(this).find('ul').fadeToggle(40);
	});
});
</script>
</head>
<body>
   <div id="content">
	   <ul id="navbar">
		  <li><a href="/home">Home</a></li>
		  <li><a href="/movies">Movies</a></li>
		  <li class="nav-parent">
		  		<a href="#">League</a>
		  		<ul>
		  			{% block side_block %}
		  			{% getLeagues %}
				    {% endblock %}
		  			<li><a href="/league/create">Create a legue</a></li>
		  		</ul>	
		  </li>
		  <ul style="float:right;list-style-type:none;">
		  	{% if user.is_authenticated %}
		    <li><a href="/accounts/profile">Profile</a></li>
		    <li><a href="/accounts/logout">Logout</a></li>
		    {%  else %}
		    <li><a href="/accounts/login">Login</a></li>
		    {% endif %}
		  </ul>
		</ul>

	
		{% block content %}{% endblock %}
	</div>

</body>
